<div class="section" id="experience">
    <div class="cc-contact-information" data-parallax="true" style="background-image: url('assets/images/wxZEuo.jpg');">
        <div class="container py-2 cc-experience">

            <div class="h4 text-center mb-4 title" style="color: white;">Expérience professionnelle</div>
            <div class="row">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge down">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="timeline-panel" style="background-color: white;">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="h5 mt-0 title">VERMEG</div>
                                    <div class="h6 mt-0 title">Développeur de logiciels (08-2019 - PRÉSENT)</div>
                                    <p align="justify">VERMEG est un éditeur de logiciels spécialisé couvrant ces principaux marchés: Banque, Marché des capitaux et Assurance.</p>
                                    <p align="justify">Je travail en tant que développeur Front-end avec l'équipe projet de PALMYRA</p>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li class="list">Fonctionnalité de base</li>
                                        <ul>
                                            <li class="non_list">Développement de logiciels</li>
                                            <li class="non_list">Développement d'applications web</li>
                                        </ul>
                                        <li class="list">Technologies et langage</li>
                                        <ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <li class="non_list">Agile</li>
                                                    <li class="non_list">Angular</li>
                                                    <li class="non_list">Type Script</li>
                                                    <li class="non_list">JIRA</li>
                                                    <li class="non_list">Git</li>
                                                </div>
                                                <div class="col-md-6">
                                                    <li class="non_list">PALMYRA</li>
                                                    <li class="non_list">UML</li>
                                                    <li class="non_list">Java</li>
                                                    <li class="non_list">SQL</li>
                                                </div>
                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge up">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel" style="background-color: white;">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="h5 mt-0 title">Entreprise Tunisienne d’Activités Pétrolières « ETAP »</div>
                                    <div class="h6 mt-0 title">De Février à Mai 2019</div>
                                    <p align="justify">L’Entreprise Tunisienne d’Activités Pétrolières (ETAP) une entreprise publique à caractère non administratif, chargée de la gestion des activités d’exploration et de production du pétrole et du gaz au nom de l’Etat</p>
                                    <p align="justify">Business Intelligence manager (BI) et développeur web</p>
                                    <p align="justify">Conception d’un systeme décisionnel relatif à la gestion des ressources humaine et financières.</p>
                                    <p align="justify">Développement d’un outil de visualisation des résultats et statistiques obtenus de la tache précédente</p>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li class="list">Fonctionnalité de base</li>
                                        <ul>
                                            <li class="non_list">Développement d'applications web</li>
                                            <li class="non_list">Gestionnaire des données avec les outils de BI</li>
                                        </ul>
                                        <li class="list">Technologies et langage</li>
                                        <ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <li class="non_list">Talend</li>
                                                    <li class="non_list">SSMS</li>
                                                    <li class="non_list">SSAS</li>
                                                    <li class="non_list">SSIS</li>
                                                    <li class="non_list">UML</li>
                                                    <li class="non_list">Power BI</li>
                                                    <li class="non_list">Angular 7</li>
                                                    <li class="non_list">NodeJS</li>
                                                    <li class="non_list">MongoDB</li>
                                                </div>
                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge up">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel" style="background-color: white;">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="h5 mt-0 title">Office du Commerce de la Tunisie « OCT »</div>
                                    <div class="h6 mt-0 title">De Juillet à Août 2018.</div>
                                    <p align="justify">L'Office du commerce de Tunisie (OCT) est une entreprise publique tunisienne spécialisée dans l'importation de produits alimentaires de grande consommation pour la Tunisie.</p>
                                    <p align="justify">Développement d'une application Desktop pour faire l'inventaire et le suivi du parc informatique</p>
                                    <p align="justify">Développement d’une application desktop « VB » pour le suivi et la réalisation des différents bons tel que : les bons de sortie, les bons de réparation, etc...</p>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li class="list">Fonctionnalité de base</li>
                                        <ul>
                                            <li class="non_list">Développement de logiciels</li>
                                        </ul>
                                        <li class="list">Technologies et langage</li>
                                        <ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <li class="non_list">VB</li>
                                                    <li class="non_list">SQL</li>
                                                    <li class="non_list">UML</li>
                                                </div>
                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge up">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel" style="background-color: white;">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="h5 mt-0 title">Office du Commerce de la Tunisie « OCT »</div>
                                    <div class="h6 mt-0 title">De Juillet à Août 2017.</div>
                                    <p align="justify">L'Office du commerce de Tunisie (OCT) est une entreprise publique tunisienne spécialisée dans l'importation de produits alimentaires de grande consommation pour la Tunisie.</p>
                                    <p align="justify">Stagiaire dans le département informatique</p>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li class="list">Fonctionnalité de base</li>
                                        <ul>
                                            <li class="non_list">Mainenance de réseau informatique</li>
                                        </ul>
                                        <li class="list">Technologies</li>
                                        <ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <li class="non_list">Architecture du réseau d'entreprise</li>

                                                </div>
                                                <div class="col-md-6">
                                                    <li class="non_list">packet tracer</li>
                                                </div>
                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge up">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel" style="background-color: white;">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="h5 mt-0 title">Arab Tunisian Bank « ATB »</div>
                                    <div class="h6 mt-0 title">De Juin à septembre 2016.</div>
                                    <p align="justify">Agent Helpdesk et gestion de matériels</p>
                                    <p align="justify">L'Arab Tunisian Bank ou ATB est une banque commerciale tunisienne, fondée le 30 juin 1982 par l'intégration de l'agence tunisoise de l'Arab Bank et l'apport de personnes physiques tunisiennes.</p>


                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li class="list">Fonctionnalité de base</li>
                                        <ul>
                                            <li class="non_list">Suivi des DAB.</li>
                                            <li class="non_list">Résoudre les problèmes au niveau des ordinateurs des agents de toutes les directions.</li>
                                            <li class="non_list">Cloner les nouveaux ordinateurs du système relatif à la banque.</li>
                                        </ul>
                                        <li class="list">Technologies</li>
                                        <ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <li class="non_list">ORACLE</li>
                                                    <li class="non_list">NCR</li>
                                                </div>
                                                <div class="col-md-6">
                                                    <li class="non_list">Produits Windows</li>
                                                </div>
                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>