<div class="section" id="about">
    <div class="cc-contact-information" data-parallax="true" style="background-image: url('assets/images/fVasiZ.jpg');">
        <br><br><br>
        <div class="container">
            <div class="card" data-aos="fade-up" data-aos-offset="10">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card-body">
                            <div class="h4 mt-0 title">À propos de moi</div>
                            <p align="justify">Depuis mon plus jeune âge, j'ai toujours eu un sens de la motivation et de la passion qui m'a poussé vers l'avant. Qu'il s'agisse d'explorer des opportunités uniques, d'acquérir des compétences supplémentaires ou de rencontrer
                                de nouvelles personnes, j'apporte ces valeurs à chaque expérience tout au long de ma vie au niveau personnel et professionnel.</p>
                            <p align="justify">Amoureux de l'innovation et de tout ce qui y est lié pour générer de nouvelles connaissances, affrontez les problèmes avec le sourire et résolvez-les le plus rapidement possible. Très calculé sur le temps que je passe et le
                                travail que je fais.</p>
                            <p align="justify">Pour en savoir plus sur moi, continuez à explorer mon site ou contactez directement.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card-body">
                            <div class="h4 mt-0 title">Informations de base</div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">DATE DE NAISSANCE:</strong>
                                </div>
                                <div class="col-sm-8">05 Août 1995</div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">Email:</strong>
                                </div>
                                <div class="col-sm-8">mfnaouar@vermeg.com</div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">naouarfadhel6@gmail.com</div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">NUMÉRO DE PORTABLE:</strong>
                                </div>
                                <div class="col-sm-8">+216 53 53 86 23</div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">ADRESSE:</strong>
                                </div>
                                <div class="col-sm-8">13 Rue des fruits Borj Baccouche Ariana-Tunisie</div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">Language:</strong>
                                </div>
                                <div class="col-sm-8">Français écrit et parlé</div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">Anglais écrit et parlé</div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">Arabe langue maternelle et paternelle</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>