<div class="section" id="projets">
    <div class="cc-contact-information" data-parallax="true" style="background-image: url('assets/images/wtiopz.jpg');">
        <div class="container cc-education">

            <div class="h4 text-center mb-4 title" style="color: white;">Projets</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2019</p>
                            <div class="h5">Projet de fin d'études
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">PFE &nbsp; &nbsp;
                                <a href="https://drive.google.com/file/d/1TCuA465BfmUXa1BIsqiOB9YmVeGHJ24D/view?usp=sharing" target="_blank" rel="tooltip" title="Présentation en PPT">


                                    <i class="fa fa-slideshare" aria-hidden="true"></i></a> &nbsp; &nbsp;
                                <a href="https://drive.google.com/file/d/1H5t1YwwL6dPQ8-2ivu_zAfhSRP2UydMQ/view?usp=sharing" target="_blank" rel="tooltip" title="Rapport de PFE">


                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>

                            </div>
                            <h4 class="category"> FSEGT et ETAP</h4>
                            <ul>
                                <li>Mon projet de PFE a aidé l'Entreprise Tunisienne d’Activités Pétrolières de mieux manipuler la quantité énorme des données de personnels à travers ce qu'on appelle business intelligence l'idée été de mettre en place tout
                                    un système de traitement de données et de faire le chargement et l'extraction de ses derniers pour avoir manipuler et prévoir des événements et les avènements. Ce système est focalisé sur les ressources humaines. Vue
                                    que les outils adoptés n'ont pas des interfaces faciles à comprendre nous avons décidé de mettre en place une application Web développer par la technologie Angular 7 et NodeJS pour mieux visualiser les résultats des
                                    statistiques d'une part et d'autre part de mieux s'approcher à la digitalisation</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>juillet 2017.</p>
                            <div class="h5">Conférence Sum'co </div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">AIESEC Tunisie &nbsp; &nbsp;
                                <a href="https://drive.google.com/file/d/1t07nmCon5Y7hJAMffAJXr64FyiZfy8N5/view?usp=sharing" target="_blank" rel="tooltip" title="Attestation de membership">


                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>&nbsp; &nbsp;
                                <a href="https://drive.google.com/file/d/1oWAyQig_GigCKrixTSARHG9oBhieUX9I/view?usp=sharing" target="_blank" rel="tooltip" title="Summer'co 2017">


                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                &nbsp; &nbsp;
                                <a (click)="imgAIESEC()" target="_blank" rel="tooltip" title="Moments de souvenir">


                                    <i class="fa fa-picture-o" aria-hidden="true"></i></a> &nbsp; &nbsp;
                            </div>
                            <h4 class="category">Comité local AIESEC University


                            </h4>
                            <ul>
                                <li>AIESEC est une organisation internationale, apolitique, indépendante et à but non lucratif, entièrement gérée par des étudiants et par des récents diplômés du supérieur. Elle est membre du comité permanent de l'UNESCO et
                                    serait la plus grande organisation estudiantine dans le monde1,2. Depuis 2009, ses membres la définissent comme une « plateforme globale permettant aux jeunes d'explorer et de développer leur potentiel de leadership
                                    ».
                                </li>
                                <li>C'est une conférence qui se déroule chaque été de chaque année qui regroupe tous les membres de la comité local pour améliorer le sens de la leadership dans chaqu'un de nous. Dans cette événement j'étais le responsable
                                    du financement ainsi la légalité de notre évènement vis à vis l'Etat Tunisienne.

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<p-dialog header="Moments de souvenir " [(visible)]="display">

    <a href="#">
        <img src="assets/images/1.jpg" alt="Image" />
    </a>
    <a href="#">
        <img src="assets/images/2.JPG" alt="Image" />
    </a>
    <p-footer>
        <button class="btn btn-primary smooth-scroll mr-2" (click)="imgAIESECOff()">Fermer</button>
    </p-footer>
</p-dialog>